@font-face {
    font-family: GT-America;
    src: url(/Fonts/GT-America-Standard-Black-Trial.woff2) format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: GT-America;
    src: url(/Fonts/GT-America-Standard-Bold-Trial.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: GT-America;
    src: url(/Fonts/GT-America-Standard-Medium-Trial.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: GT-America;
    src: url(/Fonts/GT-America-Standard-Regular-Trial.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GT-America;
    src: url(/Fonts/GT-America-Standard-Light-Trial.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: GT-America;
    src: url(/Fonts/GT-America-Standard-Thin-Trial.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: GT-America;
    src: url(/Fonts/GT-America-Standard-Ultra-Light-Trial.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: GT-America;
    font-size: 1rem;
    background: #ffffff;
}

/* =================
     Typography
================= */

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    font-size: 2.5rem;
    line-height: 44px;
}

h2 {
    line-height: 140%;
}

.p-small {
    font-size: 0.8rem;
    font-weight: 300;
    color: #6e7a82;

    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 16.8px;
}

.p-mediun {
    font-size: 1.2rem;
    font-weight: 200;
    color: #6e7a82;
}

/* =================
      Layout
================= */

img {
    display: block;
    object-fit: cover;
}

article {
    width: 45%;
    max-width: 496px;
    border-radius: 8px;
    margin-bottom: 2.5em;
    box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 22%);
    text-align: center;
    text-align: left;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

/* =================
      Header
================= */

.header {
    padding: 0.6em 0.5em;
    font-size: 1rem;
    line-height: 160%;
    font-weight: 500;
    height: 75px;
    margin-bottom: 2.9em;
}

.header-logo {
    padding-top: 0.1em;
    flex-grow: 1;
    margin-left: 1.5em;
}

.btn {
    color: #ffffff;
    background: #000000;
    border-radius: 40px;
    font-weight: 500;
    padding: 0.8em 2em;
    margin: 0 1em;
}

nav {
    flex-grow: 2;
    /* border: 1px solid magenta; */
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    /* border: 1px solid magenta; */
}

nav li {
    margin: 0 2em;
}

nav a {
    color: #000000;
    font-weight: 500;
    padding: 0.25em 0;
}

nav a:hover,
nav a:focus,
.header-right-menu a:hover,
.header-right-menu a:focus {
    color: #6e7a82;
}

@media (max-width: 812px) {
    nav,
    .header-right-menu {
        display: none;
    }
}

/* Burger Menu */

.burger-wrapper {
    display: none;
}

.burger div {
    width: 24px;
    height: 2px;
    border-radius: 8px;
    background: black;
    margin: 5px;
}

input[type="checkbox"] ~ ul {
    height: 0;
    transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul {
    transition: transform 0.3s ease-out;
    transform: scaleY(1);
}

input[type="checkbox"] {
    visibility: hidden;
    order: 3;
}

.open-burger {
    display: flex;
    flex-direction: column;
}

.open-burger ul {
    margin: 0;
    padding: 0;
    order: 2;
}

.open-burger li {
    text-align: center;
    width: 100%;
    color: #6e7a82;
    font-weight: 200;
    line-height: 25px;
    padding-top: 10%;
}

.open-burger li:hover,
.open-burger li:focus {
    color: black;
}

#burger-lable {
    padding-left: 35%;
    order: 1;
}

@media (max-width: 812px) {
    .burger-wrapper {
        display: block;
    }
}

@media (max-width: 500px) {
    .open-burger li {
        font-size: 0.8rem;
        font-weight: 300;
        padding-top: 10%;
        width: 100%;
        line-height: 15px;
    }
}

/* =================
      Top Banner
================= */

.top-banner {
    text-align: center;
    margin-bottom: 2.5em;
    margin: auto;
}

.top-banner div {
    width: 60%;
}

.top-banner div {
    margin: auto;
    line-height: 28px;
    margin-bottom: 3em;
}

@media (min-width: 812px) {
    .top-banner div {
        max-width: 40%;
    }
}

/* =================
      Main
================= */

.main-article {
    min-width: 328px;
}

.main-article img {
    min-width: 328px;
    width: 100%;
    height: 376px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 1.5em;
}

.main-article h2 {
    margin-left: 1em;
}

.main-article p {
    color: #38444c;
    font-weight: 300;
    line-height: 160%;
    padding-bottom: 1.5em;
    margin-left: 1.5em;
    margin-top: -1%;
}

.main-article h2,
.main-article p {
    width: 85%;
    margin-bottom: 0.5em;
}

.main-container {
    flex-direction: column;
    margin-bottom: 3em;
}

@media (min-width: 812px) {
    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.2em;
    }

    #article-text-1,
    #article-text-2 {
        visibility: hidden;
    }

    #article-text-1:after {
        content: "Are you looking to free up some cash? If so, you have probably thought about getting a second mortgage in...";
        visibility: visible;
        display: block;
        margin-top: -9%;
    }

    #article-text-2:after {
        content: "Now that you understand what a HELOC Card is, let’s dive into how it works. This article also explains...";
        visibility: visible;
        display: block;
        margin-top: -9%;
    }
}

/* =================
      footer
================= */

.fooder-main {
    display: flex;
    margin-left: 5.2em;
}

.fooder-header {
    height: 5.4em;
    border-bottom: 1px solid #d8dcdf;
    border-top: 1px solid #d8dcdf;
    margin-bottom: 2em;
}

.fooder-logo {
    margin-left: 5.2em;
    padding-top: 1.8em;
}

.fooder-list {
    margin-right: 4.8em;
    margin-bottom: 3em;
}

.fooder-list label {
    font-weight: 700;
}

.fooder-list li {
    line-height: 160%;
    margin-bottom: 0.5em;
}

footer p {
    font-size: 0.77em;
    margin-left: 6.4em;
    margin-bottom: 5em;
}

footer p,
.fooder-list li {
    font-weight: 300;
    color: #6e7a82;
}

@media (max-width: 812px) {
    footer {
        display: none;
    }
}
